extends ../layout/base 

block content
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/transaction/index') Home
                        li.breadcrumb-item.active Profile

    section.content
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-body
                            form(method="post" action="/profile/update")
                                input(type="hidden" name="_csrf" value=_csrf)
                                input(type="hidden" name="user_id" value=req.user.id)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label Username
                                            input.form-control#username(value=result.username name='username' placeholder='Enter Username' disabled)
                                    div.col-6
                                        div.form-group
                                            label Password
                                            input.form-control#password(type='password' name='password' placeholder='Enter Password')
                                div.row
                                    div.col-6
                                        div.form-group
                                            label Email
                                            input.form-control#email(value=result.email type='email' name='email' placeholder='Enter Email' disabled)
                                    div.col-6
                                        div.form-group
                                            label Role
                                            select.form-control#role(name="role" disabled)
                                                option(value="") --- Select Role ---
                                                option(value="1" selected=(result.role == 1)) Manager 
                                                option(value="2" selected=(result.role == 2)) Staff
                                div.row
                                    div.col-6
                                        div.form-group
                                            label First Name
                                            input.form-control#first_name(value=result.first_name name='first_name' placeholder='Enter First Name' required)
                                    div.col-6
                                        div.form-group
                                            label Last Name
                                            input.form-control#last_name(value=result.last_name name='last_name' placeholder='Enter Last Name' required)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label Address
                                            input.form-control#address(value=result.address name='address' placeholder='Enter Address' required)
                                    div.col-6
                                        div.form-group
                                            label Date of Birth
                                            input.form-control#dob(value=result.dob.toISOString().split('T')[0] type='date' max=new Date().toISOString().split('T')[0] name='dob' placeholder='Enter Date of Birth' required)
                                div.row
                                    div.col-12.text-right
                                        a(href="/").mr-2
                                            button.btn.btn-secondary(type='button') Back
                                        button.btn.btn-success(type='submit') Submit
