extends ../layout/base

block content
    div.content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 #{title}
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/transaction/index') Home
                        li.breadcrumb-item
                            a(href='/review/index') Review
                        li.breadcrumb-item.active Edit

    section.content
        div.container-fluid
            div.row
                div.col-12
                    div.card
                        div.card-body
                            form(method="post" action="/review/" + result.id + "/update" enctype="multipart/form-data")
                                input(type="hidden" name="_csrf" value=_csrf)
                                div.row
                                    div.col-6
                                        div.form-group
                                            label(for="name") Name
                                            input.form-control#name(name='name' placeholder='Enter Name' required value=result.name)
                                    div.col-6
                                        div.form-group
                                            label(for="status") Status
                                            select.form-control#status(name="status" required)
                                                option(value="") --- Select Status ---
                                                option(value=1 selected=(result.status == 1)) Active
                                                option(value=0 selected=(result.status == 0)) Inactive
                                div.row
                                    div.col-6
                                        div.form-group
                                            label(for="origin") Origin
                                            input.form-control#origin(name='origin' placeholder='Enter Origin' required value=result.origin)
                                    div.col-6
                                        div.form-group
                                            label(for='image') Image
                                            .input-group
                                                .custom-file
                                                    input#image.custom-file-input(type='file' name="image" required)
                                                    label.custom-file-label(for='image') Choose file
                                .row
                                    div.col-12
                                        div.form-group
                                            label(for="comment") Comment
                                            textarea.form-control#comment(name="comment") #{result.comment}
                                .row
                                    .col-6
                                        div.form-group
                                            label Current Image
                                            br
                                            img.img-fluid(src=(result.image == null) ? '/images/community/default.png' : result.image alt=result.name)
                                div.row
                                    div.col-12.text-right
                                        a(href="/review/index").mr-2
                                            button.btn.btn-secondary(type='button') Back
                                        button.btn.btn-success(type='submit') Submit