doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // ===============================================
    // Document Title
    // ===============================================
    title Govan, Glasgow | Government Template
    // ===============================================
    // Favicons
    // ===============================================
    link(rel='apple-touch-icon' sizes='180x180' href='/assets/img/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/assets/img/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/assets/img/favicons/favicon-16x16.png')
    link(rel='shortcut icon' type='image/x-icon' href='/assets/img/favicons/favicon.ico')
    link(rel='manifest' href='/assets/img/favicons/manifest.json')
    meta(name='msapplication-TileImage' content='/assets/img/favicons/mstile-150x150.png')
    meta(name='theme-color' content='#ffffff')
    // ===============================================
    // Stylesheets
    // ===============================================
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
    link(href='/vendors/prism/prism.css' rel='stylesheet')
    link(href='/assets/css/theme.css' rel='stylesheet')
    link(href='/assets/css/user.css' rel='stylesheet')
    link(href='/vendors/swiper/swiper-bundle.min.css' rel='stylesheet')
// ===============================================
// Main Content
// ===============================================
main
    section.py-3(style='background-color:#10203F;')#top-section
        #topNav.container
            .row.justify-content-between
                .col-3
                    a.navbar-brand(href='/home')
                        img(src='/assets/img/logos/logo.png' width='141' alt='logo')
                .col-9
                    ul#topNewNav
                        li
                            a(href="/home")
                                img(src='/assets/img/icons/uk.png')
                            | |
                            a(href="?lang=cn")
                                img(src='/assets/img/icons/china.png')
                            | |
                            a(href="?lang=sp")
                                img(src='/assets/img/icons/spain.png')
                        li 
                            a(href='/home/news/#news-section') 
                                if(lang == 'cn')
                                    | 新闻
                                else if (lang == 'sp')
                                    | Noticias
                                else 
                                    | News
                        li 
                            a(href='/home/courses/#course-section') 
                                if(lang == 'cn')
                                    | 课程
                                else if (lang == 'sp')
                                    | Cursos
                                else 
                                    | Course
                        li 
                            a(href='/home/communities/#community-section') 
                                if(lang == 'cn')
                                    | 社区
                                else if (lang == 'sp')
                                    | Comunidad
                                else 
                                    | Community
                        li 
                            a(href='#charity-section') 
                                if(lang == 'cn')
                                    | 慈善
                                else if (lang == 'sp')
                                    | Caridad
                                else 
                                    | Charity
    .py-7.py-sm-8.py-lg-10.py-xxl-9.py-xxl-11(style='background-color:#10203F;')

    // ============================================
    section.mb-n9.mb-lg-n11.p-0(style='transform: translateY(calc(-50% - 25px));')
        .container-fluid
            #heroCarouselContainer.position-relative.hero-carousel-container
                .position-absolute.translate-middle.d-none.d-xxl-block
                    img(src='/assets/img/illustrations/bg-circle.png' alt='')
                .position-absolute.top-0.d-none.d-lg-block(style='right: -16px;')
                    #heroSlidercounterContainer.bg-carousel-soft-primary.position-relative
                        #heroSlidercounter.hero-slider-counter  01 
                #hero-carousel.carousel.slide(data-bs-ride='carousel')
                    .slider-rectangle.z-index-2.d-none.d-xxl-block
                        img(src='/assets/img/gallery/rectangle-s.png' alt='')
                    .position-relative
                        .hero-social-icons.d-none.d-lg-block
                            ul.list-unstyled.list-inline
                                li.list-inline-item.mr-2
                                    a.text-decoration-none(href='#!')
                                        img.list-social-icon(src='/assets/img/icons/instagram.png' width='30' alt='...')
                                li.list-inline-item.mr-2
                                    a.text-decoration-none(href='#!')
                                        img.list-social-icon(src='/assets/img/icons/facebook.png' width='30' alt='...')
                                li.list-inline-item.mr-2
                                    a.text-decoration-none(href='#!')
                                        img.list-social-icon(src='/assets/img/icons/twitter.png' width='30' alt='...')
                        #heroCarouselInner.carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='/assets/img/gallery/header-slider-1.png' height='447' alt='...')
                                .carousel-caption.d-none.d-sm-block
                                    h1.display-4.text-light.text-start.fw-light.fs-2.fs-md-3.fs-lg-4.fs-xl-5
                                        if(lang == 'cn')
                                            strong 探索 
                                            | 戈万迷人的地标
                                        else if (lang == 'sp')
                                            strong Explora 
                                            | las  
                                            br 
                                            | fascinantes vistas de Govan
                                        else 
                                            strong Explore  
                                            | Govan's  
                                            br
                                            | fascinating landmarks.
                                        
                            .carousel-item
                                img.d-block.w-100(src='/assets/img/gallery/header-slider-2.png' height='447' alt='...')
                                .carousel-caption.d-none.d-sm-block
                                    h1.display-4.text-light.text-start.fw-light
                                        if(lang == 'cn')
                                            strong 被照亮 
                                            | 的戈万丰富历史
                                        else if (lang == 'sp')
                                            | Estar 
                                            strong iluminado 
                                            br
                                            |en La rica historia de Govan
                                        else 
                                            | Be 
                                            strong illuminated 
                                            | in 
                                            br
                                            | Govan's rich history
                            .carousel-item
                                img.d-block.w-100(src='/assets/img/gallery/header-slider-3.png' height='447' alt='...')
                                .carousel-caption.d-none.d-sm-block
                                    h1.display-4.text-start.fw-light
                                        if(lang == 'cn')
                                            strong 体验
                                            | 戈万
                                            br
                                            | 的多样化文化场景
                                        else if (lang == 'sp')
                                            strong Experimente 
                                            | la 
                                            br
                                            | diversa escena cultural de Govan.
                                        else 
                                            strong Experience  
                                            | the  
                                            br
                                            | diverse cultural scene of Govan.
                    .row.g-0
                        .col-3.position-relative
                            .carousel-indicators.justify-content-start.custom-indicators
                                button.active(type='button' data-bs-target='#hero-carousel' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                                button(type='button' data-bs-target='#hero-carousel' data-bs-slide-to='1' aria-label='Slide 2')
                                button(type='button' data-bs-target='#hero-carousel' data-bs-slide-to='2' aria-label='Slide 3')  
                        .col-9.position-relative
                            .card(style='background-color:#2257BF;')
                                .card-body.border-bottom.border-primary.p-2.px-md-4.py-md-3.py-xl-4.p-sm-3
                                    .d-md-flex.flex-between-center
                                        p.mb-0.text-primary.fs-2
                                            if(lang == 'cn')
                                                strong 看看 
                                                | 戈万能提供什么
                                            else if (lang == 'sp')
                                                strong Vea  
                                                | lo que Govan puede ofrecerle 
                                            else 
                                                strong See 
                                                | what Govan has to offer
    // ============================================

    // RECENT NEWS section start ============================
    section.pt-0#news-section
        .container
            .row
                .col-12
                    .mb-6
                        h1.header-title.display-4.header.text-center
                            if(lang == 'cn')
                                | 近期新闻
                            else if (lang == 'sp')
                                | NOTICIAS RECIENTES
                            else 
                                | RECENT NEWS
                    .row
                        each result in news
                            .col-sm-6.col-md-4.col-lg-3.mb-4
                                .card.border-100.h-100.shadow
                                    .card-body.p-4.h-100
                                        img.w-100(src=result.image)
                                        .d-flex.justify-content-between.mt-3.border-bottom.border-100.py-2
                                            span.badge.bg-soft-info.rounded-1.text-info.fw-normal.p-2 #{result.category_name}
                                            p.mb-0.text-500 #{new Date(result.created_at).toDateString()}
                                        h3.fw-normal.fs-lg-1.fs-xxl-2.lh-sm.mt-3 #{result.title}
                                        a.text-secondary.stretched-link(href=result.url) Full Article
    // RECENT NEWS section end ============================

    // TOP COURSES section begin ============================
    section.py-6#course-section
        .container
            .row
                h1.header-title.display-4.header.text-start.mb-5 
                    if(lang == 'cn')
                        | 实用课程
                    else if (lang == 'sp')
                        | PRINCIPALES CURSOS
                    else 
                        | TOP COURSES
                each course in courses
                    .col-sm-6.col-lg-3.mb-4
                        .card.border-0.h-100
                            .position-relative
                                img.w-100(src=course.image alt='courses')
                                .course-logo
                                    img(src=course.organiser_image alt='logo')
                                .ps-6
                                    span.badge.bg-primary.rounded-0(style='padding: 11.1px 21px') Free
                            .card-body.px-0.py-3
                                h5.mb-0.font-sans-serif.fw-bold.fs-md-0.fs-lg-1 #{course.title}
                                a.text-muted.fs--1.stretched-link.text-decoration-none(href=course.url target="_blank") #{course.organiser}
    // TOP COURSES section close ============================

    // CHARITIES section begin ============================
    section.bg-secondary#charity-section
        .container
            .row.g-3
                h1.header-title-explore.display-4.header.text-start.mb-5 
                    if(lang == 'cn')
                        | 慈善团体
                    else if (lang == 'sp')
                        | EXPLORA CARIDADES
                    else 
                        | EXPLORE CHARITIES
                each charity in charities
                    .col-sm-4.col-lg-3
                        .card.card-hover.h-100
                            .card-body.d-flex.align-items-center.px-4.px-lg-2.px-xl-4
                                .d-flex.align-items-center
                                    .icon-box
                                        img.img-fluid.eduprix-icon(src=charity.image alt=charity.name)
                                    .flex-grow-1.ms-3
                                        h4.fs-lg-1.text-light.mb-0 #{charity.name}
                                        a.stretched-link.explore-link(href=charity.official_url target="_blank") #{charity.address}
    // CHARITIES section close ============================

    // USER REVIEW section begin ============================
    section#testimonial
        .container
            .row.justify-content-end
                .col-2.position-xl-relative
                    button.carousel-control-prev(type='button' data-bs-target='#carouselStudentReview' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#carouselStudentReview' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
            h1.header-title.display-4.header.text-start.mb-5  USER REVIEW
            .row.flex-center.h-100
                #carouselStudentReview.carousel.slide(data-bs-ride='carousel')
                    .carousel-inner.ps-4
                        each review in reviews
                            .carousel-item.active
                                .row.h-100.align-items-center
                                    .col-auto.p-0
                                        .card.border-0.h-100
                                            .card-body.h-100.p-0.pe-4
                                                .d-flex.align-items-start
                                                    img(src='/assets/img/gallery/rectangle.png' alt='rectangle')
                                                    img(src=review.image alt='testimonials' width='315')
                                    .col-md-5.col-lg-6.col-xl-7.mb-4
                                        .bg-holder.z-index--1(style='background-image:url(/assets/img/gallery/quotation.png);background-position:top center;background-size:auto;')
                                        // /.bg-holder
                                        h1.fw-normal.lh-1.mt-4.mt-lg-0
                                            | #{review.name}
                                        h4.fw-light #{review.origin}
                                        p.mt-4.pe-xxl-8
                                            | #{review.comment}
                    .row.justify-content-end
                        .col-auto
                            .carousel-indicators.position-relative
                                button.active(type='button' data-bs-target='#carouselStudentReview' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                                button(type='button' data-bs-target='#carouselStudentReview' data-bs-slide-to='1' aria-label='Slide 2')
                                button(type='button' data-bs-target='#carouselStudentReview' data-bs-slide-to='2' aria-label='Slide 3')
    // USER REVIEW section close ============================

    // <section> begin ============================
    section.bg-soft-primary
        .container
            .row.flex-center
                .col-12.col-md-6.col-lg-3.text-center.mb-5.mb-lg-0
                    img.mb-5(src='/assets/img/illustrations/top-course.png' height='140' alt='rectangle')
                    h1.text-secondary 1257
                    h1.fw-normal.text-secondary
                        | Top 
                        br
                        |  Courses
                    p
                        | Take courses from the world&rsquo;s best 
                        br
                        |  instructors and universities.
                .col-12.col-md-6.col-lg-3.text-center.mb-5.mb-lg-0
                    img.mb-5(src='/assets/img/illustrations/happy-learners.png' height='140' alt='rectangle')
                    h1.text-secondary 99981
                    h1.fw-normal.text-secondary
                        | Happy 
                        br
                        |  Learners
                    p
                        | Learners from all around 
                        br
                        |  the world.
                .col-12.col-md-6.col-lg-3.text-center.mb-5.mb-lg-0
                    img.mb-5(src='/assets/img/illustrations/instructors.png' height='140' alt='rectangle')
                    h1.text-secondary 578
                    h1.fw-normal.text-secondary
                        | Eminent 
                        br
                        |  Instructors
                    p
                        | Learn your favourite course with 
                        br
                        |  world-class instructors.
    // <section> close ============================

    // COMMUNITIES section begin ============================
    section#community-section
        .container
            .row
                .col-12
                    h1.header-title.display-4.header.text-center.mb-5
                        if(lang == 'cn')
                            | 社区团体
                        else if (lang == 'sp')
                            | GRUPO COMUNIDAD
                        else 
                            | COMMUNITIES
                    .swiper-custom-container
                        .swiper-container.theme-slider(data-swiper='{"spaceBetween":1,"slideToClickedSlide":true,"slidesPerView":1,"pagination":{"el":".swiper-pagination","clickable":true,"bulletActiveClass":"bullet-active"},"breakpoints":{"320":{"slidesPerView":1,"spaceBetween":20},"480":{"slidesPerView":2,"spaceBetween":30},"640":{"slidesPerView":4,"spaceBetween":40}}}')
                            .swiper-wrapper
                                each community in communities
                                    a(href="#")
                                        .swiper-slide
                                            .text-center.product
                                                img.w-100.photograph(src=community.image alt=community.name)
                                                h3.fw-normal.font-base.lh-1.text-black.mt-3 #{community.name}
                                                p.mb-0 Est. in #{community.est_year}
                            .swiper-pagination.position-static.d-flex.justify-contnet-evenly.mx-2.my-5  
                            .d-flex.justify-content-sm-end.justify-content-center.mt-sm-n7.m-5
                                a.link.fw-normal.fs-2(href='/home/communities/#community-section')
                                    if(lang == 'cn')
                                        | 查看全部
                                    else if (lang == 'sp')
                                        | Ver todo
                                    else 
                                        | See all
                        .swiper-button-next.d-none.d-sm-block
                            svg.bi.bi-arrow-right(xmlns='http://www.w3.org/2000/svg' width='42' height='27' fill='currentColor' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z')
                        .swiper-button-prev.d-none.d-sm-block
                            svg.bi.bi-arrow-left(xmlns='http://www.w3.org/2000/svg' width='42' height='27' fill='currentColor' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z')
    // COMMUNITIES section close ============================

    // FOOTER section begin ============================
    section.bg-secondary
        .container
            .row
                .col-12.col-sm-12.col-lg-6.mb-4.order-0.order-sm-0
                    a.text-decoration-none(href='#')
                        img(src='/assets/img/logos/logo-footer.png' height='200' alt='...')
                    p.text-light.my-4
                        if(lang == 'cn')
                            | 我们致力于增强戈万居民的能力，提高他们的数字素养，
                            br.d-none.d-sm-block
                            | 培养他们对数字技术的兴趣。通过提高他们的数字素养和
                            br.d-none.d-sm-block
                            | 促进丰富社区生活。我们的目标是提供一个一站式的平台，
                            br.d-none.d-sm-block
                            | 提供有价值的资源、引人入胜的新闻。我们的目标是提供
                            br.d-none.d-sm-block
                            | 一个一站式平台，提供有价值的资源、引人入胜的新闻报道、
                            br.d-none.d-sm-block
                            | 关于当地慈善机构的信息以及旨在帮助你提高数字世界技能
                            br.d-none.d-sm-block
                            | 的一系列课程。
                        else if (lang == 'sp')
                            | Estamos dedicados a empoderar a los residentes de Govan
                            br.d-none.d-sm-block
                            | mejorar su alfabetización digital y fomentar enriquecimiento 
                            br.d-none.d-sm-block
                            | comunitario. Nuestro objetivo es proporcionar una ventanilla 
                            br.d-none.d-sm-block
                            | única plataforma que ofrece valiosos recursos, noticias atractivas,
                            br.d-none.d-sm-block
                            | información sobre organizaciones benéficas locales y una amplia 
                            br.d-none.d-sm-block
                            | gama de Cursos diseñados para ayudarte a mejorar en el mundo digital.
                        else 
                            | We are dedicated to empowering the residents of Govan
                            br.d-none.d-sm-block
                            | by enhancing their digital literacy and fostering 
                            br.d-none.d-sm-block
                            | community enrichment. Our goal is to provide a one-stop
                            br.d-none.d-sm-block
                            | platform that offers valuable resources, engaging news,
                            br.d-none.d-sm-block
                            | information about local charities, and a wide range of
                            br.d-none.d-sm-block
                            | courses designed to help you upskill in the digital world. 
                .col-6.col-sm-4.col-lg-2.mb-3.order-2.order-sm-1
                    h3.lh-lg.fw-bold.mb-4.text-light.font-sans-serif Govan
                    ul.list-unstyled.mb-md-4.mb-lg-0
                        if(lang == 'cn')
                            li.lh-lg
                                a.text-primary(href='#!') 关于
                            li.lh-lg
                                a.text-primary(href='#!') 合作
                            li.lh-lg
                                a.text-primary(href='#!') 事业
                            li.lh-lg
                                a.text-primary(href='#!') 新闻
                        else if (lang == 'sp')
                            li.lh-lg
                            a.text-primary(href='#!') Acerca de
                            li.lh-lg
                                a.text-primary(href='#!') Afiliado
                            li.lh-lg
                                a.text-primary(href='#!') Carrera
                            li.lh-lg
                            a.text-primary(href='#!') Noticias
                        else 
                            li.lh-lg
                                a.text-primary(href='#!') About
                            li.lh-lg
                                a.text-primary(href='#!') Affiliate
                            li.lh-lg
                                a.text-primary(href='#!') Career
                            li.lh-lg
                                a.text-primary(href='#!') News
                .col-6.col-sm-4.col-lg-2.mb-3.order-3.order-sm-2
                    h3.lh-lg.fw-bold.text-light.mb-4.font-sans-serif 
                        if(lang == 'cn')
                            | 联络
                        else if (lang == 'sp')
                            | Conectar
                        else
                            | Connect
                    ul.list-unstyled.mb-md-4.mb-lg-0
                        if(lang == 'cn')
                            li.lh-lg
                                a.text-primary(href='#!') 博客
                            li.lh-lg
                                a.text-primary(href='#!') 联络我们
                            li.lh-lg
                                a.text-primary(href='#!') 帮助中心
                            li.lh-lg
                                a.text-primary(href='#!') 媒体工具包
                            li.lh-lg
                                a.text-primary(href='#!') 捐助
                        else if (lang == 'sp')
                            li.lh-lg
                            a.text-primary(href='#!') Contáctenos
                            li.lh-lg
                                a.text-primary(href='#!') Contáctenos
                            li.lh-lg
                                a.text-primary(href='#!') Centro de ayuda
                            li.lh-lg
                                a.text-primary(href='#!') Donación
                            li.lh-lg
                            a.text-primary(href='#!') Donación
                        else
                            li.lh-lg
                                a.text-primary(href='#!') Blog
                            li.lh-lg
                                a.text-primary(href='#!') Contact Us
                            li.lh-lg
                                a.text-primary(href='#!') Help Centre
                            li.lh-lg
                                a.text-primary(href='#!') Media Kit
                            li.lh-lg
                                a.text-primary(href='#!') Donation
                .col-6.col-sm-4.col-lg-2.mb-3.order-3.order-sm-2
                    h3.lh-lg.fw-bold.text-light.mb-4.font-sans-serif
                        if(lang == 'cn')
                            | 法条
                        else if (lang == 'sp')
                            | Legal
                        else
                            | Legal
                    ul.list-unstyled.mb-md-4.mb-lg-0
                        if(lang == 'cn')
                            li.lh-lg
                                a.text-primary(href='#!') 服务条款
                            li.lh-lg
                                a.text-primary(href='#!') 隐私政策
                            li.lh-lg
                                a.text-primary(href='#!') 辅助功能
                            li.lh-lg
                                a.text-primary(href='#!') 商标
                            li.lh-lg
                                a.text-primary(href='#!') 网站地图
                        else if (lang == 'sp')
                            li.lh-lg
                            a.text-primary(href='#!') Términos de servicios
                            li.lh-lg
                                a.text-primary(href='#!') Política de privacidad
                            li.lh-lg
                                a.text-primary(href='#!') Accesibilidad
                            li.lh-lg
                                a.text-primary(href='#!') Marca comercial
                            li.lh-lg
                            a.text-primary(href='#!') Mapa del sitio
                        else
                            li.lh-lg
                                a.text-primary(href='#!') Terms of Services
                            li.lh-lg
                                a.text-primary(href='#!') Privacy Policy
                            li.lh-lg
                                a.text-primary(href='#!') Accessibility
                            li.lh-lg
                                a.text-primary(href='#!') Trademark
                            li.lh-lg
                                a.text-primary(href='#!') Sitemap
    // FOOTER section close ============================

    // <section> begin ============================
    section.py-0.bg-dark
        .container
            .row.justify-content-md-between.justify-content-evenly.py-4
                .col-12.col-sm-8.col-md-6.col-lg-auto.text-center.text-md-start
                    p.fs--1.my-2.fw-light.text-200 All rights Reserved &copy; Your Company, 2021
                .col-12.col-sm-8.col-md-6
                    p.fs--1.fw-light.my-2.text-center.text-md-end.text-200
                        | Made with&nbsp;
                        svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='#F95C19' viewbox='0 0 16 16')
                            path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')
                        | &nbsp;by&nbsp;
                        a.fw-bold.text-primary(href='https://themewagon.com/' target='_blank') ThemeWagon
    // <section> close ============================

    a(href="#top-section")
        button#naviTopBtn.badge.bg-soft-danger.rounded-1.text-info.fw-normal.p-2 Back to Top

// ===============================================
// End of Main Content
// ===============================================
// ===============================================
// JavaScripts
// ===============================================
script(src='/vendors/popper/popper.min.js')
script(src='/vendors/bootstrap/bootstrap.min.js')
script(src='/vendors/anchorjs/anchor.min.js')
script(src='/vendors/is/is.min.js')
script(src='https://polyfill.io/v3/polyfill.min.js?features=window.scroll')
script(src='/vendors/fontawesome/all.min.js')
script(src='/vendors/swiper/swiper-bundle.min.js')
script(src='/vendors/fontawesome/all.min.js')
script(src='/vendors/lodash/lodash.min.js')
script(src='https://polyfill.io/v3/polyfill.min.js?features=window.scroll')
script(src='/assets/js/theme.js')
link(href='https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
