doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // ===============================================
    // Document Title
    // ===============================================
    title Govan, Glasgow | Government Template
    // ===============================================
    // Favicons
    // ===============================================
    link(rel='apple-touch-icon' sizes='180x180' href='/assets/img/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/assets/img/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/assets/img/favicons/favicon-16x16.png')
    link(rel='shortcut icon' type='image/x-icon' href='/assets/img/favicons/favicon.ico')
    link(rel='manifest' href='/assets/img/favicons/manifest.json')
    meta(name='msapplication-TileImage' content='/assets/img/favicons/mstile-150x150.png')
    meta(name='theme-color' content='#ffffff')
    // ===============================================
    // Stylesheets
    // ===============================================
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
    link(href='/vendors/prism/prism.css' rel='stylesheet')
    link(href='/assets/css/theme.css' rel='stylesheet')
    link(href='/assets/css/user.css' rel='stylesheet')
    link(href='/vendors/swiper/swiper-bundle.min.css' rel='stylesheet')
// ===============================================
// Main Content
// ===============================================
main
    section.py-3(style='background-color:#10203F;')

        #topNav.container
            .row.justify-content-between
                .col-3
                    a.navbar-brand(href='/home')
                        img(src='/assets/img/logos/logo.png' width='141' alt='logo')
                .col-9
                    ul#topNewNav
                        li
                            a(href="/home")
                                img(src='/assets/img/icons/uk.png')
                            | |
                            a(href="?lang=cn")
                                img(src='/assets/img/icons/china.png')
                            | |
                            a(href="?lang=sp")
                                img(src='/assets/img/icons/spain.png')
                        li 
                            a(href='/home/news/#news-section') 
                                if(lang == 'cn')
                                    | 新闻
                                else if (lang == 'sp')
                                    | Noticias
                                else 
                                    | News
                        li 
                            a(href='/home/courses/#course-section') 
                                if(lang == 'cn')
                                    | 课程
                                else if (lang == 'sp')
                                    | Cursos
                                else 
                                    | Course
                        li 
                            a(href='/home/communities/#community-section') 
                                if(lang == 'cn')
                                    | 社区
                                else if (lang == 'sp')
                                    | Comunidad
                                else 
                                    | Community
                        li 
                            a(href='#charity-section') 
                                if(lang == 'cn')
                                    | 慈善
                                else if (lang == 'sp')
                                    | Caridad
                                else 
                                    | Charity
    .py-7.py-sm-8.py-lg-10.py-xxl-9.py-xxl-11(style='background-color:#10203F;')

    // ============================================
    section.mb-n9.mb-lg-n11.p-0(style='transform: translateY(calc(-50% - 25px));')
        .container-fluid
            #heroCarouselContainer.position-relative.hero-carousel-container
                .position-absolute.translate-middle.d-none.d-xxl-block
                    img(src='/assets/img/illustrations/bg-circle.png' alt='')
                .position-absolute.top-0.d-none.d-lg-block(style='right: -16px;')
                    #heroSlidercounterContainer.bg-carousel-soft-primary.position-relative
                        #heroSlidercounter.hero-slider-counter  01 
                #hero-carousel.carousel.slide(data-bs-ride='carousel')
                    .slider-rectangle.z-index-2.d-none.d-xxl-block
                        img(src='/assets/img/gallery/rectangle-s.png' alt='')
                    .position-relative
                        .hero-social-icons.d-none.d-lg-block
                            ul.list-unstyled.list-inline
                                li.list-inline-item.mr-2
                                    a.text-decoration-none(href='#!')
                                        img.list-social-icon(src='/assets/img/icons/instagram.png' width='30' alt='...')
                                li.list-inline-item.mr-2
                                    a.text-decoration-none(href='#!')
                                        img.list-social-icon(src='/assets/img/icons/facebook.png' width='30' alt='...')
                                li.list-inline-item.mr-2
                                    a.text-decoration-none(href='#!')
                                        img.list-social-icon(src='/assets/img/icons/twitter.png' width='30' alt='...')
                        #heroCarouselInner.carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='/assets/img/gallery/header-slider-1.png' height='447' alt='...')
                                .carousel-caption.d-none.d-sm-block
                                    h1.display-4.text-light.text-start.fw-light.fs-2.fs-md-3.fs-lg-4.fs-xl-5
                                        | We 
                                        strong empower 
                                        | you 
                                        br
                                        | to learn what you love.
                            .carousel-item
                                img.d-block.w-100(src='/assets/img/gallery/header-slider-2.png' height='447' alt='...')
                                .carousel-caption.d-none.d-sm-block
                                    h1.display-4.text-light.text-start.fw-light
                                        strong An extensive Archieve for you to 
                                        br.d-none.d-xxl-block
                                        | explore the many areas of knowledge.
                            .carousel-item
                                img.d-block.w-100(src='/assets/img/gallery/header-slider-3.png' height='447' alt='...')
                                .carousel-caption.d-none.d-sm-block
                                    h1.display-4.text-light.text-start.fw-light
                                        | Learn how to
                                        strong  express yourself 
                                        br
                                        | artistically via engaging courses.
                    .row.g-0
                        .col-3.position-relative
                            .carousel-indicators.justify-content-start.custom-indicators
                                button.active(type='button' data-bs-target='#hero-carousel' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                                button(type='button' data-bs-target='#hero-carousel' data-bs-slide-to='1' aria-label='Slide 2')
                                button(type='button' data-bs-target='#hero-carousel' data-bs-slide-to='2' aria-label='Slide 3')  
                        .col-9.position-relative
                            .card(style='background-color:#2257BF;')
                                .card-body.border-bottom.border-primary.p-2.px-md-4.py-md-3.py-xl-4.p-sm-3
                                    .d-md-flex.flex-between-center
                                        p.mb-0.text-primary.fs-2
                                            strong Explore 
                                            | what Govan has to offer
                                        a.text-decoration-none.text-light.fw-bold(href='#!' role='button')
                                            | LEARN MORE
                                            svg.bi.bi-arrow-right.text-primary.ms-2(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewbox='0 0 16 16')
                                                path(fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z')
    // ============================================

    // ALL NEWS section start ============================
    section.pt-0#news-section
        .container
            .row
                .col-12
                    .mb-6
                        h1.header-title.display-4.header.text-center 
                            if(lang == 'cn')
                                | 近期新闻
                            else if (lang == 'sp')
                                | NOTICIAS RECIENTES
                            else 
                                | ALL NEWS
                    .row
                        each news in results
                            .col-sm-6.col-md-4.col-lg-3.mb-4
                                .card.border-100.h-100.shadow
                                    .card-body.p-4.h-100
                                        img.w-100(src=news.image)
                                        .d-flex.justify-content-between.mt-3.border-bottom.border-100.py-2
                                            span.badge.bg-soft-info.rounded-1.text-info.fw-normal.p-2 #{news.category_name}
                                            p.mb-0.text-500 #{new Date(news.created_at).toDateString()}
                                        h3.fw-normal.fs-lg-1.fs-xxl-2.lh-sm.mt-3 #{news.title}
                                        a.text-secondary.stretched-link(href=news.url) Full Article
    // ALL NEWS section end ============================

    // <section> begin ============================
    section.bg-soft-primary
        .container
            .row.flex-center
                .col-lg-5.col-xl-4
                    img.w-100(src='/assets/img/illustrations/cta.png' alt='...')
                .col-lg-5.col-xl-4
                    h1.fw-normal.text-secondary.mb-4
                        | Get Regular 
                        br
                        | Updates from
                    img(src='/assets/img/logos/logo-footer.png' height='75' alt='...')
                    h5.text-secondary.fw-normal.my-3 SUBSCRIBE TO NEWSLETTER 
                    form.row.gx-2.gy-2.align-items-center
                        .col
                            .input-group-icon
                                label.visually-hidden(for='inputEmailCta') Address
                                input#inputEmailCta.form-control.input-box.form-eduprix-control.text-light(type='email' placeholder='Email')
                        .d-grid
                            button.btn.btn-secondary(type='submit') Subscribe
    // <section> close ============================

    // <section> begin ============================
    section.bg-secondary
        .container
            .row
                .col-12.col-sm-12.col-lg-6.mb-4.order-0.order-sm-0
                    a.text-decoration-none(href='#')
                        img(src='/assets/img/logos/logo-footer.png' height='75' alt='...')
                    p.text-light.my-4
                        | We&apos;re a worldwide community for online learning and teaching
                        br.d-none.d-sm-block
                        | where anybody can acquire new skills and accomplish their
                        br.d-none.d-sm-block
                        | objectives by connecting with others. We are dedicated to 
                        br.d-none.d-sm-block
                        | making a positive difference in the future of education.
                .col-6.col-sm-4.col-lg-2.mb-3.order-2.order-sm-1
                    h3.lh-lg.fw-bold.mb-4.text-light.font-sans-serif Eduprix
                    ul.list-unstyled.mb-md-4.mb-lg-0
                        li.lh-lg
                            a.text-primary(href='#!') About
                        li.lh-lg
                            a.text-primary(href='#!') Affiliate
                        li.lh-lg
                            a.text-primary(href='#!') Open Eduprix
                        li.lh-lg
                            a.text-primary(href='#!') Career
                        li.lh-lg
                            a.text-primary(href='#!') News
                .col-6.col-sm-4.col-lg-2.mb-3.order-3.order-sm-2
                    h3.lh-lg.fw-bold.text-light.mb-4.font-sans-serif Connect
                    ul.list-unstyled.mb-md-4.mb-lg-0
                        li.lh-lg
                            a.text-primary(href='#!') Blog
                        li.lh-lg
                            a.text-primary(href='#!') Contact Us
                        li.lh-lg
                            a.text-primary(href='#!') Help Centre
                        li.lh-lg
                            a.text-primary(href='#!') Media Kit
                        li.lh-lg
                            a.text-primary(href='#!') Donation
                .col-6.col-sm-4.col-lg-2.mb-3.order-3.order-sm-2
                    h3.lh-lg.fw-bold.text-light.mb-4.font-sans-serif  Legal
                    ul.list-unstyled.mb-md-4.mb-lg-0
                        li.lh-lg
                            a.text-primary(href='#!') Terms of Services
                        li.lh-lg
                            a.text-primary(href='#!') Privacy Policy
                        li.lh-lg
                            a.text-primary(href='#!') Accessibility
                        li.lh-lg
                            a.text-primary(href='#!') Trademark
                        li.lh-lg
                            a.text-primary(href='#!') Sitemap
    // <section> close ============================

    // <section> begin ============================
    section.py-0.bg-dark
        .container
            .row.justify-content-md-between.justify-content-evenly.py-4
                .col-12.col-sm-8.col-md-6.col-lg-auto.text-center.text-md-start
                    p.fs--1.my-2.fw-light.text-200 All rights Reserved &copy; Your Company, 2021
                .col-12.col-sm-8.col-md-6
                    p.fs--1.fw-light.my-2.text-center.text-md-end.text-200
                        | Made with&nbsp;
                        svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='#F95C19' viewbox='0 0 16 16')
                            path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')
                        | &nbsp;by&nbsp;
                        a.fw-bold.text-primary(href='https://themewagon.com/' target='_blank') ThemeWagon
    // <section> close ============================

// ===============================================
// End of Main Content
// ===============================================
// ===============================================
// JavaScripts
// ===============================================
script(src='/vendors/popper/popper.min.js')
script(src='/vendors/bootstrap/bootstrap.min.js')
script(src='/vendors/anchorjs/anchor.min.js')
script(src='/vendors/is/is.min.js')
script(src='https://polyfill.io/v3/polyfill.min.js?features=window.scroll')
script(src='/vendors/fontawesome/all.min.js')
script(src='/vendors/swiper/swiper-bundle.min.js')
script(src='/vendors/fontawesome/all.min.js')
script(src='/vendors/lodash/lodash.min.js')
script(src='https://polyfill.io/v3/polyfill.min.js?features=window.scroll')
script(src='/assets/js/theme.js')
link(href='https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
